[submodule "lcd-domains/libcap"]
	path = lcd-domains/libcap
	url = https://gitlab.flux.utah.edu/xcap/libcap.git
[submodule "lcd-domains/libasync"]
	path = lcd-domains/libasync
	url = https://gitlab.flux.utah.edu/xcap/xcap-async-module.git
