#
# LCD configuration
#

config LCD_DOMAINS
       tristate "Light-weight Capability Domains"
       depends on X86_64
       depends on LCD_INTEL
       default y
       ---help---
       Light-weight Capability Domains for Linux.
