#
# LCD configuration
#

config LCD_DOMAINS
       tristate "Light-weight Capability Domains"
       depends on X86_64
       select HAVE_LCD
       select TEST_MOD
       default m
       ---help---
       Light-weight Capability Domains for Linux.

config HAVE_LCD
       bool

config LCD_DOMAINS_TESTS
       tristate "Tests of Light-weight Capability Domains"
       depends on LCD_DOMAINS
       default m
       ---help---
       Simple unit tests for lcd domains. Loading the module runs the tests.

menuconfig LCD_TEST_MOD
	   bool "Test Modules"
	   default y
	   ---help---
	   Test modules for LCDs.

if LCD_TEST_MOD

# --------------------------------------------------

config LCD_TEST_MOD_LOAD
       bool "Basic load test with infinite loop"
       depends on LCD_DOMAINS
       default y
       select LCD_TEST_MOD_LOAD_BOOT
       select LCD_TEST_MOD_LOAD_LCD
       ---help---
       Simple infinite loop - don't run outside lcd, it never quits!

config LCD_TEST_MOD_LOAD_BOOT
       tristate
       depends on LCD_TEST_MOD_LOAD
       default m

config LCD_TEST_MOD_LOAD_LCD
       tristate
       depends on LCD_TEST_MOD_LOAD
       default m

# --------------------------------------------------

config LCD_TEST_MOD_LIBLCD_TESTS
       bool "Tests for liblcd"
       depends on LCD_DOMAINS
       default y
       select LCD_TEST_MOD_LIBLCD_TESTS_BOOT
       select LCD_TEST_MOD_LIBLCD_TESTS_LCD
       ---help---
       Tests for code in liblcd - page allocator, kmalloc, etc.

config LCD_TEST_MOD_LIBLCD_TESTS_BOOT
       tristate
       depends on LCD_TEST_MOD_LIBLCD_TESTS
       default m

config LCD_TEST_MOD_LIBLCD_TESTS_LCD
       tristate
       depends on LCD_TEST_MOD_LIBLCD_TESTS
       default m

# --------------------------------------------------

config LCD_TEST_MOD_IPC1
       bool "IPC test with 1 LCD"
       depends on LCD_DOMAINS
       default y
       select LCD_TEST_MOD_IPC1_BOOT
       select LCD_TEST_MOD_IPC1_LCD
       ---help---
       Simple send/recv test with one lcd and one non-isolated module.

config LCD_TEST_MOD_IPC1_BOOT
       tristate
       depends on LCD_TEST_MOD_IPC1
       default m

config LCD_TEST_MOD_IPC1_LCD
       tristate
       depends on LCD_TEST_MOD_IPC1
       default m

# --------------------------------------------------

config LCD_TEST_MOD_IPC2
       bool "IPC test with 2 LCDs"
       depends on LCD_DOMAINS
       default y
       select LCD_TEST_MOD_IPC2_BOOT
       select LCD_TEST_MOD_IPC2_LCD1
       select LCD_TEST_MOD_IPC2_LCD2
       ---help---
       Simple send/recv test with two lcd's and one non-isolated module.
     
config LCD_TEST_MOD_IPC2_BOOT
       tristate
       depends on LCD_TEST_MOD_IPC2
       default m

config LCD_TEST_MOD_IPC2_LCD1
       tristate
       depends on LCD_TEST_MOD_IPC2
       default m

config LCD_TEST_MOD_IPC2_LCD2
       tristate
       depends on LCD_TEST_MOD_IPC2
       default m

# --------------------------------------------------

config LCD_TEST_MOD_CREATE_KLCD
       bool "Create and load a klcd example"
       depends on LCD_DOMAINS
       default y
       select LCD_TEST_MOD_CREATE_KLCD_BOOT
       select LCD_TEST_MOD_CREATE_KLCD_KLCD
       ---help---
       Simple example showing how to load a kLCD.
     
config LCD_TEST_MOD_CREATE_KLCD_BOOT
       tristate
       depends on LCD_TEST_MOD_CREATE_KLCD
       default m

config LCD_TEST_MOD_CREATE_KLCD_KLCD
       tristate
       depends on LCD_TEST_MOD_CREATE_KLCD
       default m

# --------------------------------------------------

endif

