#
# LCD configuration
#

config LCD_DOMAINS
       tristate "Light-weight Capability Domains"
       depends on X86_64
       depends on LCD_INTEL
       select HAVE_LCD
       default y
       ---help---
       Light-weight Capability Domains for Linux.

config LCD_INTEL
       tristate "Intel support for LCDs"
       depends on X86_64
       default y
       ---help---
       Intel-specific code for usings LCDs.

config HAVE_LCD
       bool

config LCD_MODULE_LOAD_TEST
       tristate
       depends on LCD_DOMAINS
       default m

