#
# LCD prototype
#

config LCD_PROTOTYPE
       bool "LCD Prototype"
       default y
       ---help---
       Prototype for Lightweight Capability Domains system.

config LCD_PROTOTYPE_API
       tristate "LCD Prototype API"
       default m
       depends on LCD_PROTOTYPE
       ---help---
       The kernel prototype for the LCD system.

config LCD_PROTOTYPE_LIBLCD
       tristate "LCD Prototype LibLCD"
       default m
       depends on LCD_PROTOTYPE
       ---help---
       Routines used by test modules.

config LCD_PROTOTYPE_TEST
       tristate "LCD Prototype Test"
       default m
       depends on LCD_PROTOTYPE_API
       depends on LCD_PROTOTYPE_LIBLCD
       select LCD_PROTOTYPE_TEST_BOOT
       select LCD_PROTOTYPE_TEST_CUSTOMER
       select LCD_PROTOTYPE_TEST_DEALER
       select LCD_PROTOTYPE_TEST_MANUFACTURER

config LCD_PROTOTYPE_TEST_CUSTOMER
       tristate
       depends on LCD_PROTOTYPE_TEST
       default m

config LCD_PROTOTYPE_TEST_DEALER
       tristate
       depends on LCD_PROTOTYPE_TEST
       default m

config LCD_PROTOTYPE_TEST_MANUFACTURER
       tristate
       depends on LCD_PROTOTYPE_TEST
       default m

config LCD_PROTOTYPE_TEST_BOOT
       tristate
       depends on LCD_PROTOTYPE_TEST
       depends on LCD_PROTOTYPE_TEST_CUSTOMER
       depends on LCD_PROTOTYPE_TEST_MANUFACTURER
       depends on LCD_PROTOTYPE_TEST_DEALER
       default m

config LCD_PROTOTYPE_TEST_IN_LCD
       bool "LCD Prototype run tests in LCD"
       depends on LCD_PROTOTYPE_TEST
       default false
