config MINIX_FS_LCD
	tristate "Minix file system in LCD"
	depends on BLOCK
	help
	  Implementation of Minix FS inside LCD
	
config MINIX_FS_LCD_NATIVE_ENDIAN
	def_bool MINIX_FS_LCD
	depends on H8300 || M32R || MICROBLAZE || MIPS || S390 || SUPERH || SPARC || XTENSA || (M68K && !MMU)

config MINIX_FS_LCD_BIG_ENDIAN_16BIT_INDEXED
	def_bool MINIX_FS_LCD
	depends on M68K && MMU
